@import "tailwindcss";

@font-face {
  font-family: "MesloLGS NF";
  src: url("/fonts/MesloLGSNerdFontMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "MesloLGS NF";
  src: url("/fonts/MesloLGSNerdFontMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

@theme {
  --color-bg: #05060a;
  --color-surface: #0a0c10;
  --font-mono: "JetBrains Mono", monospace;
}

body {
  @apply bg-bg text-gray-100 font-mono;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
